**/drizzle
**/.next
**/dist
**/.DS_Store
**/.dockerignore
**/node_modules
**/README.md
**/.git
**/.env.local
**/Dockerfile
**/biome.json
**/.env
**/.env.example
**/.git
**/.github
**/dev-creds
**/docker-compose.yml
**/.gitmodules
**/scripts
**/deployments

